<nz-card [nzBordered]="false" nzTitle="Importar Usuarios" [nzExtra]="buttonsTemplate">
    <div nz-row>
        <nz-spin [nzSpinning]="isLoading">
        <div nz-col nzSpan="24" *ngIf="mostrar">
            <app-importacion-usuarios  [usuariosEntrada]="listaUsuariosEntrada" (onIportedUsers)="onChangeListaUsarios($event)"></app-importacion-usuarios>
        </div>
    </nz-spin>
    </div>
</nz-card>

<ng-template #buttonsTemplate>
    <div class="steps-action">
        <button nz-button nzType="primary" ngClass="success header-button" (click)="salvarCuotas()">
            <i nz-icon nzType="save"></i><span>Guardar</span>
        </button>
        <button nz-button nzType="default"  (click)="cerrarModal(false)">
            <i nz-icon nzType="close" nzTheme="outline"></i>
            Cancelar

        </button>
    
       
    </div>
</ng-template>