<nz-spin [nzSpinning]="lodading">
    <nz-card [nzBordered]="false" [nzTitle]="title" [nzExtra]="buttonsTemplate">

        <form nz-form [formGroup]="formGroup" nzLayout="vertical">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="nombre">Nombre</nz-form-label>
                    <nz-form-control nzErrorTip="El campo no puede estar vacío!">
                        <input type="text" nz-input formControlName="nombre" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="descripcion">Descripción</nz-form-label>
                    <textarea nz-input placeholder="Descripción" formControlName="descripcion" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                </nz-form-item>

                <div nz-row>
                    <div nz-col nzSpan="11">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="tienda">
                                Tienda
                            </nz-form-label>
                            <nz-form-control nzErrorTip="El campo no puede estar vacío!">
                                <nz-select formControlName="tienda">
                                    <nz-option [nzValue]="item.id" [nzLabel]="item.nombre" *ngFor="let item of tiendas"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="2"></div>
                    <div nz-col nzSpan="11">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="categoria">
                                Categoría
                            </nz-form-label>
                            <nz-form-control nzErrorTip="El campo no puede estar vacío!">
                                <nz-select formControlName="categoria">
                                    <nz-option [nzValue]="item.id" [nzLabel]="item.nombre" *ngFor="let item of categorias"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>


                <div nz-row>
                    <div nz-col nzSpan="11">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="precio_venta">Precio de Venta</nz-form-label>
                            <nz-form-control nzErrorTip="El campo no puede estar vacío!">
                                <nz-input-number style="width: 60%" [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar" formControlName="precio_venta"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="2"></div>
                    <div nz-col nzSpan="11">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="precio_compra">Precio de Compra</nz-form-label>
                            <nz-form-control nzErrorTip="El campo no puede estar vacío!">
                                <nz-input-number style="width: 60%" [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar" formControlName="precio_compra"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <nz-form-item>
                    <nz-form-label nzRequired nzFor="estado">Estado</nz-form-label>
                    <nz-switch [ngModel]="true" nzCheckedChildren="Activo" nzUnCheckedChildren="Inactivo" formControlName="estado"></nz-switch>
                </nz-form-item>
            </div>
        </form>
    </nz-card>
</nz-spin>
<ng-template #buttonsTemplate>
    <div class="steps-action">
        <button nz-button nzType="primary" (click)="salvarDatos()" style="background-color: rgb(20, 168, 64); border-color: white;">
        <i nz-icon nzType="save"></i><span>Guardar</span>
    </button>
        <button nz-button nzType="default" (click)="cerrarModal(false)">
            <i nz-icon nzType="close" nzTheme="outline"></i>
            Cancelar

        </button>

    </div>
</ng-template>