<nz-card [nzBordered]="false" nzTitle="Administrar Perfiles del Sistema" [nzExtra]="buttonsTemplate">
    <div nz-row>
        <div nz-col nzSpan="24">
            <div class="send-request">
                <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="perfiles" [nzLoading]="isLoading">
                    <thead>
                        <tr>

                            <th id="perfil">Perfil</th>

                            <th id="acciones" class="action-table-buttons" nzWidth="150px"> Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of rowSelectionTable.data">
                            <td>{{ data.perfil }}</td>
                            <td class="action-table-buttons">
                                <button nz-button title="Editar" nzSize="small" (click)="editar(data.id)" *ngIf="permisos.modificar" nzType="primary" class="success" style="margin-right: 8px;" nzShape="round"><i nz-icon nzType="edit"></i></button>
                                <button nz-button nzSize="small" title="Eliminar" (click)="mostrarModalEliminar(data.id)" *ngIf="permisos.eliminar" nzType="primary" class="danger" nzShape="round"><i nz-icon nzType="delete"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</nz-card>
<ng-template #buttonsTemplate>
    <div class="steps-action" *ngIf="permisos.crear">
        <button nz-button nzType="primary" ngClass="success header-button" (click)="adicionar()">
            <i nz-icon nzType="plus"></i><span>Adicionar</span>
        </button>
    </div>
</ng-template>