<nz-card [nzBordered]="false" nzTitle="Administrar Productos del Sistema" [nzExtra]="buttonsTemplate">
    <div nz-row>
        <div nz-col nzSpan="24">
            <div class="send-request" style="margin-top: 55px">
                <nz-table #rowSelectionTable nzSize="middle" nzShowPagination nzShowSizeChanger [nzData]="productos" [nzLoading]="isLoading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="page" (nzQueryParams)="onQueryParamsChange($event)">
                    <thead>
                        <tr>
                            <th id="codigo" nzColumnKey="codigo" [nzSortFn]="true">Código</th>
                            <th id="nombre" nzColumnKey="nombre" [nzSortFn]="true">Nombre</th>
                            <th id="categoria" nzColumnKey="categoria" [nzSortFn]="true">Categoría</th>
                            <th id="precio_venta" nzColumnKey="precio_venta" [nzSortFn]="true">Precio de Venta</th>
                            <th id="cantidad" nzColumnKey="cantidad" [nzSortFn]="true">Cantidad</th>
                            <th id="cantidad" nzColumnKey="existencia" [nzSortFn]="true">Existencia</th>
                            <th id="activo">Activo</th>
                            <th id="acciones" class="action-table-buttons" nzWidth="150px"> Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <nz-input-group [nzSuffix]="suffixIconSearch">
                                    <input nz-input type="text" [(ngModel)]="codigo" (change)="buscar($event)">
                                </nz-input-group>
                            </td>
                            <td>
                                <nz-input-group [nzSuffix]="suffixIconSearch">
                                    <input nz-input type="text" [(ngModel)]="nombre" (change)="buscar($event)">
                                </nz-input-group>
                            </td>
                        </tr>
                        <tr *ngFor="let data of rowSelectionTable.data">
                            <td>{{ data.codigo }}</td>
                            <td>{{ data.nombre }}</td>
                            <td>{{ data.categoria }}</td>
                            <td>{{ data.precio_venta }}</td>
                            <td>{{ data.cantidad }}</td>
                            <td>{{ data.existencia }}</td>
                            <td>{{ data.estado ? 'Si' : 'No' }}</td>
                            <td class="action-table-buttons">
                                <button nz-button title="Editar" nzSize="small" (click)="editar(data.id)" *ngIf="permisos.modificar" nzType="primary" class="success" style="margin-right: 5px;" nzShape="round"><i nz-icon nzType="edit"></i></button>
                                <button nz-button nzSize="small" title="Distribuir" (click)="distribuir(data.id)" *ngIf="permisos.modificar && data.existencia > 0" nzType="primary" class="primary" nzShape="round" style="margin-right: 5px;"><i nz-icon nzType="plus"></i></button>
                                <button nz-button nzSize="small" title="Recoger" (click)="recoger(data.id)" *ngIf="permisos.modificar" nzType="primary" class="danger" nzShape="round"><i nz-icon nzType="minus"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</nz-card>
<ng-template #buttonsTemplate>
    <div class="steps-action" *ngIf="permisos.crear">
        <button nz-button nzType="primary" ngClass="success header-button" (click)="adicionar()">
            <i nz-icon nzType="plus"></i><span>Adicionar</span>
        </button>
    </div>
</ng-template>

<ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
</ng-template>